<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/InterviewQuestions-20180129T151245Z-001.zip_expanded/InterviewQuestions/src/com/commonQuestions/LCMof2nm.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.commonQuestions.LCMof2nm"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="InterviewQuestions-20180129T151245Z-001.zip_expanded"/>
</launchConfiguration>
